.DS_Store
*.pyc
*.pdf
*.xlsx
*.xls
*.csv
*.htm
*.html
*.lst
*.jape
*.c
*.cpp
*.cmake
*.a
*.dll
*.o
*.so
.idea
*.xml
cfg/dm.cfg
cfg/session*
build/*
dist/*
dm.egg-info/*
docs/build/*
docs/source/res/dm.cfg
docs/source/res/dm.user.cfg
docs/source/res/rsa_deployment*
